.box{
    border: 2px solid lime;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}
.child-box{
    color: black;
    background-color: wheat;
    border: 5px solid rgb(235, 156, 11);
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}